*.aux
*.bbl
*.blg
*.dcf
*.html
*.log
*.nav
*.out
*.snm
*.rds
*.synctex.gz
*.toc
*.vrb
.DS_Store
.remake
.Rapp.history
.Rhistory
Makefile
remake.yml
out.txt
err.txt
example/*.pdf
Rbuildignore/*.pdf
Rbuildignore/local/
.Rproj.user
fbseq.Rproj
